.jumbotron {
	/*padding: 10px 120px;*/
	background-color: #F2D7D5;
	border: 2px solid #562C29;
	border-radius: 2%;
	h2 {
		color: #C72C20;
		font-weight: bold;
	}
}

.navbar-default {
	.container-fluid {
		background-color: #47D563;
		.navbar-brand {
			color: #C40A07;
			font-size: 28px;
			font-weight: bold;
			font-family: 'Barrio', cursive;
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; 
		}
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}

	}
}

.container-fluid {
	padding: 10px 120px;
}

.bottom-image {
	padding-top: 300px;
	padding-left: 150px;
}

.button-pad {
	margin-top: 7px;
}

.write-review {
	padding-top: 60px;
}

.show-text {
	margin-right: 200px;
}