
.img-set {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    -webkit-box-shadow: -1px 10px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 10px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 10px 15px 0px rgba(50, 50, 50, 0.75);
    border: 2px solid white;
}

.button-padding {
	margin-top: 240px;
}

.footer {
	margin-top: 100px;
}
// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
